body {
	background-image: url("http://www.bananagrafeeks.com/hanasaurusrex/images/wallpapers/yarn_1600x1200.jpg");
	background-size: 100% auto;
}

.title {

	background-image: url("http://thumbs.dreamstime.com/x/knitting-wools-needles-24406497.jpg");
	background-repeat: no-repeat;
}

.bar {
	background-color: purple;
	color: white;
}

.grey {
	background-color: lightgray;
}

.jumbo-padding {
	padding-top: 50px;
	padding-bottom: 50px;
}

.mini-padding {
	padding-top:10px;
	padding-bottom: 10px;
}

.header-text {
	font-size: 50px;
}

.rounded-background {
	background-color: whitesmoke;
	border-radius: 5px;
}

.border {
	border: solid 1px darkgray;
}

.text-padding {
	padding-left: 40px;
}

.line {
	border-bottom: 2px solid white;
}

.ravelry {
	background-image: url(http://badges.ravelry.com/rectangle_32.png);
	height: 35px;
	width: 85px;
}

.newDiv {
	background-color: lightgray;
	border: 1px solid gray;
	padding: 20px;
	border-radius: 5px;
}

.margin10 {
	margin: 10px;
}

.search {
	float:right;
}

.white {
	color: white;
}

 .float-left {
 	float: left;
 }

 .yarn-form-container {
 	display:none;
 }

 .project-form-container {
 	display:none;
 }